body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.header-logo--text {
    font-family: Proxima Nova Soft;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 110.84%;
    /* or 24px */


    /* TextC / DarkC */

    color: #5D748A;
}